<!--The content below is only a placeholder and can be replaced.-->
<table border="1" class="navbar">
  <tr>
    <td>
      slika
    </td>
    <td class="nav-link">
      Višebojska aplikacija
    </td>
    <td class="nav-link">
      <a routerLink="/athletes">Atletičari</a>
    </td>
    <td class="nav-link">
      <a routerLink="/competitions">Natjecanja</a>
    </td>
    <td style="width:25%"></td>
    <td>
      <table>
        <tr>
          <td>
            <input type="text" placeholder="korisničko ime"/>
          </td>
          <td>
              <input type="password" placeholder="lozinka"/>
          </td>
          <td>
            <input class="login-button" type="submit" value="Prijava"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>    