<!--The content below is only a placeholder and can be replaced.-->
<table class="navbar">
  <tr>
    <td>
      slika
    </td>
    <td class="nav-link">
      Višebojska aplikacija
    </td>
    <td class="nav-link">
      <a routerLink="/athletes">Atletičari</a>
    </td>
    <td class="nav-link">
      <a routerLink="/competitions">Natjecanja</a>
    </td>
    <td style="width:25%"></td>
    <td>
      <div *ngIf="loginIn == false">
        <table class="login-form">
          <tr>
            <td>
              <input type="text" id="username" placeholder="korisničko ime"/>
            </td>
            <td>
                <input type="password" id="password" placeholder="lozinka"/>
            </td>
            <td>
              <button class="login-button" (click)="login();">Prijava</button>
            </td>
          </tr>
        </table>
      </div>
      <div ng-if="loginIn == true">
        Bok {{username}}!
        <button (click)="logout();">Odjava</button>
      </div>
    </td>
  </tr>
</table>
<hr>
<router-outlet></router-outlet>    