<div class="component">
    <button *ngIf="ableToAddCompetition" (click)="showNewCompetition();">Dodaj natjecanje</button>
    <div id="newCompetition" *ngIf="newCompetition">
        <table>
            <tr>
                <td>Naziv natjecanja:</td>
                <td><input type="text" id="competitionName" placeholder="Državno prvenstvo u višeboju za veterane"></td>
            </tr>
            <tr>
                <td>Tip natjecanja</td>
                <td>
                    <select id="competitionType">
                        <option value="OUTDOOR">Vanjsko</option>
                        <option value="INDOOR">Dvoransko</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button (click)="addCompetition();">Dodaj natjecanje</button></td>
            </tr>
        </table>
    </div>
    <br> 
    <br>
    <h3>Natjecanja</h3>
    <table class="table" border="1">
        <tr>
            <td>
                Redni broj
            </td>
            <td>
                Naziv natjecanja
            </td>
            <td>
                Tip natjecanja
            </td>
            <td>
                Rezultati
            </td>
        </tr>
        <tr *ngFor="let competition of competitions; let i = index">
            <td>
                {{i+1}}.
            </td>
            <td>
                <div *ngIf="userId == competition.authorId">
                    <a href="/competition/{{competition.id}}">{{competition.name}}</a>
                </div>
                <div *ngIf="userId != competition.authorId">
                        {{competition.name}}
                </div>
            </td>
            <td>
                {{competition.competitionType}}
            </td>
            <td>
                <a href="/results/{{i}}">Rezultati</a>
            </td>
            <td *ngIf="userId == competition.authorId">
                <!--<button (click)="deleteCompetition(competition.id);">Delete</button>-->
                <img src="assets/images/trash.png" height="40" width="40" (click)="deleteCompetition(competition.id);"/>
            </td>
        </tr>
    </table>
</div>