<div class="container" *ngIf="userId == competition.authorId">
    
    <h4>
        {{competition.name}}
    </h4>
    
    <button (click)="showNewResult();">Dodaj rezultat</button><br>
    <button (click)="showNewAthlete();">Dodaj atletičara</button><br>
    <button (click)="showRegistedAthletes();">Popis atletičara</button><br>
    <button >Promijeni rezultate</button><br>
    
    <div *ngIf="showAthletes">
        <table class="table">
            <tr>
                <td>Redni broj</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Spol</td>
                <td>Datum rođenja</td>
                <td>Startni broj</td>
                <td>Klub</td>
                <td>Država</td>
            </tr>
            <tr *ngFor="let athlete of athletes; let i = index">
                <td>{{i+1}}.</td>
                <td>{{athlete.firstName}}</td>
                <td>{{athlete.lastName}}</td>
                <td>{{athlete.gender}}</td>
                <td>{{athlete.dateOfBirth}}</td>
                <td>{{athlete.bib}}</td>
                <td>{{athlete.club}}</td>
                <td>{{athlete.country}}</td>
            </tr>
        </table>
    </div>
    <div id="newAthlete" *ngIf="newAthlete">
        <table>
            <tr>
                <td colspan="4">
                    <h4>
                        Novi atletičar
                    </h4>
                </td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td>
                    <input type="text" id="firstName" placeholder="Mirko"/>
                </td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td>
                    <input type="text" id="lastName" placeholder="Mišić"/>
                </td>
            </tr>
            <tr>
                <td>Spol:</td>
                <td>
                    <select id="gender">
                        <option value="MALE">Muški</option>
                        <option value="FEMALE">Ženski</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Datum rođenja:</td>
                <td>
                    <input type="date" id="dateOfBirth" placeholder="01.01.1970"/>
                </td>
            </tr>
            <tr>
                <td>Klub:</td>
                <td>
                    <input type="text" id="club" placeholder="Ak Maksimir"/>
                </td>
            </tr>
            <tr>
                <td>Država:</td>
                <td>
                    <select id="country">
                        <option value="hr">Hrvatska</option>
                        <option *ngFor="let country of countries" value="country.Code">{{country.Name}}</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>Startni broj:</td>
                <td><input type="number" id="bib" placeholder="242"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button (click)="addAthlete();">Registriraj atletičara</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="newResult" *ngIf="newResult">
        <form (ngSubmit)="addResult();">
        <table>
            <tr>
                <td colspan="3">
                    <h4>Novi rezultat</h4>
                </td>
            </tr>
            <tr>
                <td>Startni broj:</td>
                <td>
                    <input type="number" id="athlete"/>
                    
                </td>
                </tr>
            <tr>
                <td>Rezultat:</td>
                <td><input type="text" id="result" placeholder="02:28:23"></td>
            </tr>
            <tr>
                <td>Discliplina: </td>
                <td>
                    <select id="discipline">
                        <option *ngFor="let discipline of disciplines">
                            {{discipline}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tip mjerenja: </td>
                <td>
                    <select id="measurment">
                        <option *ngFor="let measurment of measurments">
                            {{measurment}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Dodaj rezultat"/>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <br>
    <div *ngIf="editId != -1">
        <h4>
            Eidtiranje rezultata
        </h4>
        
        <form (ngSubmit)="editResult();">
            <table>
                <tr>
                    <td>
                        Startni broj
                    </td>
                    <td>
                        <input id="editBib" type="number" #bibNumber/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Disciplina      
                    </td>
                    <td>
                        <select id="editDiscipline" #discipline>
                                <option *ngFor="let discipline of disciplines">
                                    {{discipline}}
                                </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Vrijeme
                    </td>
                    <td>
                        <input id="editTime" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" value="Editiraj"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <br> 
    <h4>
        Zadnji 10 dodanih rezultata
    </h4>
    <table class="table">
        <tr>
            <th>Redni broj</th>
            <th>Startni broj</th>
            <th>Disciplina</th>
            <th>Vrijeme</th>
            <th>Bodovi</th>
            <th></th>
        </tr>
        <tr *ngFor="let result of results; let i = index" [ngClass]="{'selected': editId == i}">
            
            <td>
                {{i+1}}.
            </td>
            <td>
                {{bibs[i]}}
            </td>
            <td>
                {{result.discipline}}
            </td>
            <td>
                {{result.resultRepresentation}}
            </td>
            <td>
                {{result.points}}
            </td>
            <td>
                <img class="image" src="assets/images/edit.png" (click)="setEditId(i)"/>
                <img class="image" src="assets/images/trash.png" (click)="deleteById(result.id);"/>
            </td>
        </tr>
    </table>
</div>